<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div class="container">
            <div class="modal fade" id="empModel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" data-dismiss="modal">&times;</span>
                        <h4 class="modal-title">Update Form</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-group">
                            Enter Name: <input type="text" name="sellerName" [(ngModel)]="editObject.sellerName"
                                class="form-control"><br />
                            Enter Email: <input type="email" name="sellerEmail" [(ngModel)]="editObject.sellerEmail"
                                class="form-control"><br />
                            Enter mobileNo: <input type="text" name="mobileno" [(ngModel)]="editObject.mobileNo"
                                class="form-control"><br />
                            Enter User Name: <input type="text" name="userName" [(ngModel)]="editObject.userName"
                                class="form-control"><br />    
                            Enter New Password: <input type="text" name="password" [(ngModel)]="editObject.password"
                                class="form-control"><br />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-sm" (click)="updateEmp()" data-dismiss="modal">Update</button>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="http://localhost:8080/RESTAPI2018/Images/{{seller.sellerImage}}" alt=""/>
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input id="upload" type="file" #profileImage accept="image/*" (change)="handleFileInput($event.target.files)">
                        </div>
                    </div>
                    <div class="buttons">
                    <button class="btn btn-success">Order</button>
                    <button class="btn btn-danger" [routerLink]="['/wishlist/:productId']">Wishlist</button>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="profile-head">
                            <h5>{{seller.sellerName}}</h5>
                            <hr class="" style="height:1px;border-width:0;color:gray;background-color:gray">
                    </div>
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{seller.sellerName}}</p>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{seller.sellerEmail}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Phone</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{seller.mobileNo}}</p>
                                        </div>
                                    </div>
                                    
                        </div>
                        <br/>
                         <input type="submit" (click)="showEditPopup(seller)" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    </div>
                </div>
                
                <div class="col-md-2">
                   
                </div>
            </div>
            
        </form>           
    </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    
    </body>