<!--footer add-->
<body>
<section class="website-features">
    <div class="container">
      <div class="row">
        <div class="col-md-3 feature-box">
          <img src="https://p7.hiclipart.com/preview/331/926/545/money-back-guarantee-customer-satisfaction-sello.jpg">
          <div class="feature-text">
            <p><b>100% Original items</b>are available at company</p>
          </div>
        </div>
  
        <div class="col-md-3 feature-box">
          <img src="https://cdn.shopify.com/s/files/1/0310/2629/files/WEBSITE-ICONS-RETURN.png?v=1555518170">
          <div class="feature-text">
            <p><b>Return within 30 days</b>of receiving your order.</p>
          </div>
        </div>
  
        <div class="col-md-3 feature-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSG1lfVm8DZRIDwq3jlywQPa2ZrMgeg3NCU7g&usqp=CAU">
          <div class="feature-text">
            <p><b>Get free delivery</b> on order more than 250/-.</p>
          </div>
        </div>
  
        <div class="col-md-3 feature-box">
          <img src="https://thumbs.dreamstime.com/z/clean-sanitize-your-hands-vector-icon-white-background-clean-sanitize-your-hands-vector-icon-180493726.jpg"><br>
          <div class="feature-text">
            <p><b>Best Safety Standards</b> No-contact Delivery</p>
          </div>
        </div>
  
      </div>
    </div>
  </section>
</body>
  
  <!--footer end -->