<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Product Detail</title>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>

  <br>
  <br>

  <div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6" *ngFor="let product of sellerProducts">
        
            <div class="wrapper">
              <div class="container">
                  <div class="row g-1">
                      <div class="col-md-3">
                          <div class="card p-3">
                              <div class="text-center"> <img src="http://localhost:8080/RESTAPI2018/Images/{{product.imageName}}" height="200px" width="200px"> </div>
                              <hr>
                              <div class="product-details"> <span class="font-weight-bold d-block"> {{product.productPrice | currency: 'Rs.'}}</span> <span>{{product.productName}}</span>
                                  <div class="buttons d-flex flex-row">
                                    <div *ngIf="(product.availability != 0)">
                                    <h3 style="text-align: center;" >{{product.status}}
                                    <button *ngIf="(product.status == 'Rejected')" type="button" (click)="comments(product)" class="like btn btn-primary" data-toggle="modal" data-target="#myModal">Info</button></h3>
                                  </div>
                                  <div *ngIf="(product.availability == 0)">
                                      <h3 style="text-align: center;" >Sold Out</h3>
                                    </div>
                                  </div>
                                  <div class="weight"> <small>{{product.productBrand}}</small> </div>    
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
<!-- The Modal -->
<div class="modal" id="myModal">
<div class="modal-dialog">
  <div class="modal-content">
  
    <!-- Modal Header -->
    <div class="modal-header">
      <span><img [src]="images.image" width="120" height="60"></span>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    
    <!-- Modal body -->
    <div class="modal-body">
      <div class="form-group">
        <div class="col-md-12">                     
          <h4 class="modal-title" style="font-family: monospace; font-weight: bold;">FEEDBACK FROM ArtToolsHut: </h4>{{comment}}
        </div>
      </div>
    </div>
    
    <!-- Modal footer -->
    <div class="modal-footer">
      <br/>
    </div>
    
  </div>
</div>
</div>



          </div>
        </div>
      </div>
      </div>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>